section.login {
  width: 100vw;
  height: 100vh;
  background: rgb(25, 24, 29);
  display: grid;
  place-items: center;
}

.login .login-body {
  background: white;
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 300px;
  max-width: 500px;
  height: 50%;
  padding: 0 30px;
  gap: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login .login-body h1 {
  margin-bottom: 30px;
}
.login .login-body input {
  background-color: rgb(220, 220, 220);
  border: none;
  padding: 10px;
}
.login .login-body button {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  background-color: rgb(52, 158, 68);
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.login .login-body button:hover {
  background-color: rgb(61, 181, 79);
}
